:root {
  --orange: #ed8026;
  --white: #ffffff;
  --green: #00c853;
  --black: #444342;
}

html {
  background-color: var(--white);
  color: var(--black);
  box-sizing: border-box;
}

.header {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 2px 0 4px var(--orange);
  height: 40px;
  padding: 1rem;
}

.header__title {
  font-size: 1.2rem;
}

.container {
  padding: 1rem;
}

.filter {
  border-radius: 1px;
  border: 2px solid var(--orange);
  padding: 0.5rem 1rem;
}

.orders {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.order {
  border-radius: 4px;
  box-shadow: 2px 2px 4px;
  padding: 1rem;
  max-width: 720px;
  margin: 1rem 0;
}

.order__info {
  font-size: 0.8rem;
}

.order__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.order__status {
  color: var(--orange);
  text-align: right;
}

.order__status--closed {
  color: var(--green);
}

.items__details {
  margin: 0.5rem 0 1rem;
  font-size: 1rem;
  border-spacing: 10px 0;
}

.details {
  border-spacing: 0 6px;
  width: 100%;
}

.details__header {
  text-align: left;
}

.details__data {
  text-align: right;
}

.items__summary {
  cursor: pointer;
  color: var(--orange);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.7rem 0.4rem;
}

.items__list {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: grid;
  grid-auto-flow: column;
  overscroll-behavior-x: contain;
  padding-left: 0;
}

.list__item {
  scroll-snap-align: start;
  display: inline;
  width: 280px;
}

.item__image {
  width: 240px;
  height: 200px;
  object-fit: contain;
  border-radius: 4px;
}

.item__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  padding: 0 1rem;
}

.item__title {
  font-size: 1rem;
}

.item {
  padding: 1rem 0.5rem;
}

.item__quantity {
  display: block;
}

.button {
  margin: 1rem;
  background-color: var(--orange);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.spinner {
  display: inline-block;
  border: 5px solid var(--green);
  border-top: 5px solid var(--orange);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
